@font-face {
  font-family: 'Luminari';
  font-style: normal;
  font-weight: normal;
  src: local('Luminari'), url('../css/Luminari-Regular.woff') format('woff');
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* navigation style */
nav {
  background-color: aliceblue;
  font-family: verdana, sans-serif;
  font-size: 0.6rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

/* we use an unordered list but we turn off the bullets and set this block as a flex box set as a column layout as the default */
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* hamburger menu style */
input[type="checkbox"] {
  display: none;
}

.hamburger{
  display: block;
  float: right;
  cursor: pointer;
  font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
  nav ul{
    display: none;
  }

  input[type="checkbox"]:checked ~ ul {
    display: block; 
  }
}

/* we turn off the underline and set the padding and the color */
nav ul li a {
  text-decoration: none;
  margin: 0.5rem 0;
  display: block;
  color: black;
}

nav ul li:hover {
  background-color: rgb(85, 115, 168);
}

nav ul li a:hover {
  color: white;
}

/* sub menus */
li ul li a {
  margin: 0.3rem 0;
  color: rgb(49, 72, 112);
  font-size: 0.6rem;
}

li.home {
  flex: 1 0 auto;
  text-align: left;
  padding-left: 30px;
  margin-right: 0;
}

li ul {
  display: none;

}

nav ul li:hover ul {
display:flex;
flex-direction: column;
}


/* class names for body style */

body {
  font-family: 'Times New Roman', Times, serif;
  padding: 0;
  background-color: aliceblue;
}

main {
  width:100%;
}

section {
  border: 0;
}

img {
  display:block;
  width:100%;
}

.booktitle{
  font-family: Luminari;
  font-size: 60px;
  text-align: center;
  background-color: white;
  padding-top: 15px;
}

.dramatis {
  text-align: center;
  background-color: white;
  padding-left: 15%;
  padding-right: 15%;
}

h1.dramatishead{
  font-family: Luminari;
  padding-bottom: 1em;
}

div.try{
  text-align:left;
  column-count: 2;
  column-gap: 30px;
  column-rule: 1px solid rgb(85, 115, 168);
}

.charactername {
  font-variant: small-caps;
}

span.character_role {
  font-variant: normal;
}

.play_location {
  padding-top: 2em;
  padding-bottom: 1.5em;
  margin-bottom: 1em;
  text-transform:uppercase;
}

.play {
  text-align: justify;
  padding-left: 2em;
  padding-right: 2em;
  background-color: white;
  border-left: 5px solid rgb(85, 115, 168);
  border-right: 5px solid rgb(85, 115, 168);
  border-bottom: 5px solid rgb(85, 115, 168);
}

.fullimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin: 1em;
  border-bottom: 1px solid rgb(85, 115, 168);
}

.caption{
  text-align: right;
  font-size: 14px;
}

.captionact {
  font-variant: small-caps;
}

.image .charactername {
  text-align: left;
  position: relative;
  left: 0;
  top: 1.15em;
  display: block;
  font-size: 15px;
}

.act {
  font-family: luminari;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 200;
  text-align: center;
  padding-top: 20px;
}

.firstscene {
  font-family: luminari;
  text-transform: uppercase;
  font-weight: 200;
  padding-top: 30px;
}

.scene {
  font-family: luminari;
  text-transform: uppercase;
  font-weight: 200;
  padding-top: 50px;
}

.character {
  font-variant: small-caps;
  font-size: 15px;
}

.location {
  font-weight: 100;
  font-variant: small-caps;
  font-size: 16px;
  padding-bottom: 10px;
}

.stagedirection {
  font-weight: 100;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  font-style: italic;
}

.stagedirectionsinline {
  font-style: italic;
}

.verseline {
  margin: 0 0 0.4em 8em;
  text-align: justify;
}

.prose {
  margin: 0 0 0.4em 8em;
  text-align: justify;
}

.song {
  margin: 0 0 0.4em 8em;
  text-align: justify;
  font-style: italic;
}

.the-end{
  font-family: luminari;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 200;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 700px) {
  html {
    scroll-padding-top: 150px;
  }

  main {
    width:70%;
    margin:0 auto;
    max-width: 900px;
  }

  .fullimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 2em;
  }

  /* navigation bar styling
  when the screen is wide set the direction of the flex items to be in a row */
  nav ul {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  /* hamburger menu */
  input[type="checkbox"] {
    display: none;
  }

  .hamburger {
    display: none;
    font-size: 2rem;
    color: black;
  }

  /* the main items have a desired width of 6rem  */
  nav ul li {
    flex: 0 1 6.5rem;
  
  }

  nav ul li ul li {
    flex: 0 0 2rem;
  }

  li ul li a {
    padding: 0.3rem 0;
  }

  li ul {
    display: none;
    position: absolute;
    background-color: aliceblue;
    width: 6.5rem;
  }

  /* make the width of the sub items the same as the width of the main items */
  li ul li {
    width: 6.5rem;
  }

  nav ul li:hover ul {
    display: flex;
    flex-direction: column;
  }

  /* navigation link for homepage */

  li.home {
    text-align: left;
    padding-left: 3rem;
    margin-right: 3rem;
    flex: 4 1 100px;
    align-self: flex-start;
  }

  nav ul li.home:hover {
    background: rgb(85, 115, 168);
    text-decoration: none;

  }
  nav ul li.home:hover a {
    color: white;
    text-decoration: none;
  }
}
