/* This stylesheet is where to add styles for your Shakespeare Home Page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

header {
  background-color: black;
  position: fixed;
  width: 100%;
}

.logo{
  position: fixed;
  left: 0%;
}

h1{
  text-align: center;
  color: goldenrod;
  font-weight: lighter;
}

.subheader {
  text-align: center;
  color:rgb(85, 115, 168);
  font-weight: lighter;
}

.firstone {
  display: block;
  border: 1px solid;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0, 0.3)), url(../images/coverplay.jpg);
  background-position: 60%;
  background-size: 80%;
  opacity: 100%;
}

.firstone h1{
  margin-top: 240px;
}

.break{
  width: 100%;
  max-width: 700px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  }

.info {
  width: 80%;
  max-width: 700px;
  background-color: white;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  padding: 4em;
  border: 1px solid rgb(85, 115, 168);
}

figure {
  width: 40%;
  margin: 0 auto;
  float: right;
  margin-left: .5em;
}

img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.facts{
    width: 80%;
    max-width: 700px;
    background-color: white;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    border: 1px solid rgb(85, 115, 168);
}

h3{
  text-align: center;
  font-weight: bold;
}

p{
  margin: 10px auto;
  }

.quote{
  font-style: italic;
  margin: 10px 0 0 100px;
  text-align: right;
}

.quoter{
  font-weight: bold;
  text-align: right;
}

ul{
  width: 70%;
  margin: 0 auto 10px auto;

}

a:hover{
  letter-spacing: 10px; 
}

footer {
  text-align: center;
  width: 100%;
  color: black;
  padding-top: 100px;
  padding-bottom: 20px;
}

@media (max-width: 600px){
  figure {
    width: 100%;
    margin: 0 auto;
    float: none;
    margin-left: .5em;
  }

  main{
    width: 100%;
    margin: 0;
  }
}